<script src="script1.js"></script>
<footer>
  <p class="Footer">Timp petrecut pe pagina<br>
  <input onclick="Haida()" size="25" id="timpul" value="Timp petrecut pe pagina"></input></p>
</footer>
<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>